

.block-scroll {
    width: 200px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid rgb(243, 243, 243);
    box-shadow: #cfcfcf 2px 4px 10px;
    overflow: auto;
}
.scroll-container {
    overflow: hidden !important;
    position: relative;
    padding-right: 50px;
    top: 30px;
}
.scroll-bar {
    height: 100%;
    width: 15px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f6f6f6;
}
.scroll-bar>.scroll-marker {
    min-height: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #315a83;
    border-radius: 2px;
    cursor: pointer;
}
.block-scroll>.scroll-content {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    user-select: none;
}